:root {
    --white: #EFEAE3;
    --black: #0B0500;
    --orange: #FE330A;
    --yellow: #FF9831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neuehaasdisplay;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

.container {
    padding: 0 2.2em;
}

.relative {
    position: relative;
}


/* Header */

header {
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header > a {
    width: 11em;
}

header img {
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 0.6em;
}

header nav ul li {
    list-style: none;
}

header nav ul li h4 {
    padding: 11.6071px 0;
    font-weight: 100;
    position: relative;
    border-radius: 50px;
    border: 1px solid rgba(11, 5, 0, 0.2);
    font-size: 18.5714px;
    font-weight: 400;
    line-height: 26px;
    overflow: hidden;
}

header nav ul li h4 a {
    padding: 11.6071px 27.8571px;
    text-decoration: none;
    color: var(--black);
    transition: all ease .3s;
    position: relative;
    z-index: 10;
}

header nav ul li h4:hover a {
    color: var(--white);
}

header nav ul li h4::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease .3s;
}

header nav ul li h4:hover::after {
    bottom: 0;
    border-radius: 0;
}


/* Main */

/* Content */

#hero-section {
    position: relative;
}

#hero-section .hero {
    height: 68vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgb(175, 175, 175);
    padding-bottom: 8vh;
}

#hero-section .hero .left {
    width: 23%;
}

#hero-section .hero .left h2 {
    font-size: 1.70vw;
    line-height: 1;
    letter-spacing: -0.975px;
    font-weight: 500;
    color: var(--black);
}

#hero-section .hero .right {
    width: 50%;
    margin-right: 1.7em;
}

#hero-section .hero .right h1 {
    font-size: 9.7vw;
    line-height: .8;
    letter-spacing: -5.57143px;
    font-weight: 500;
    text-align: right;
    color: var(--black);
}

/* Hero Shape */

.hero-shape {
    width: 50%;
    position: absolute;
    top: 55vh;
    right: 0;
}

.hero-shape .shape1 {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: var(--orange);
    filter: blur(20px);
    position: absolute;
    animation-name: shape-1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes shape-1 {
    from {
        transform: translate(10%, 10%);
    }
    to {
        transform: translate(0%, 0%);
    }
}

.hero-shape .shape2 {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: var(--orange);
    filter: blur(20px);
    position: absolute;
    animation-name: shape-2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes shape-2 {
    from {
        transform: translate(30%, 0%);
    }
    to {
        transform: translate(30%, -10%);
    }
}

.hero-shape .shape3 {
    width: 60vw;
    height: 30vw;
    border-radius: 50% 0 0 50%;
    background: linear-gradient(to bottom right, var(--orange), var(--orange), var(--yellow));
    filter: blur(20px);
    position: absolute;
    animation-name: shape-3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes shape-3 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-15deg);
    }
}

/* Video */

#hero-section video {
    width: 100%;
    border-radius: 25px;
    margin-top: 4vw;
    position: relative;
}
